.container {
  max-width: 900px;   /* 콘텐츠 최대 너비 */
  margin: 0 auto;     /* 좌우 가운데 정렬 */
  padding: 40px 20px; /* 안쪽 여백 (위아래 / 좌우) */
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding-top: 50px;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  font-weight: normal;
  font-size: 18px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}


/* 카드 배치 */
.contact-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/* 개별 카드 */
.contact-card {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
}

/* 라벨 */
.contact-card .label {
  font-weight: bold;
}

/* 값 */
.contact-card .value {
  margin-top: 8px;
}

/* HERO */
.hero {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-inner {
  padding: 0 20px;
}

.hero-title {
  font-size: 20px;        
  font-weight: 400;       
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  margin-bottom: 16px;
}

.hero-desc {
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  max-width: 520px;       
  margin: 0 auto 28px;
}

.hero-location {
  font-size: 13px;
  color: #888;
}

/* PROJECTS */
.section-title {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* 이미지 영역 */
.project-image {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 14px;
}

/* 그리드 */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

/* 카드 */
.project-card {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 내용 */
.project-content {
  padding: 20px;
}

.project-content h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 14px;
}

/* 태그 */
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.project-tags span {
  font-size: 12px;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 999px;
  color: #555;
}

/* 버튼 */
.project-links {
  display: flex;
  gap: 12px;
}

.project-links a {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  font-size: 13px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #000;
}
